.App {
  text-align: center;
  height: 100vh;
  background-image: url("images/header-background.jpg");
  background-size:     auto;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    color:white
}

img {
  max-width:5vw;
  max-height:5vh;
}

.face img {
  max-width:35vw;
  max-height:30vh;
}

html { font-size: 1vh; }
@media (max-height: 850px) {
    html { font-size: 1.4vh; }
}





.content {
  height:60vh;
  color: white;

}
.content p {
  margin-top: -5px;
}

.footer  {

  padding: 50px;
  font-size: 8px

}


.footer p {

  padding: 10px;
  font-size: 8px

}

.About  {
  text-align: center;
 text-justify: inter-word;
}

a {
  padding-left: 20px;
  padding-right: 20px;

}



a:hover {
  padding-left: 20px;
  padding-right: 20px;

  filter: blur(1px);
}



input[type="text"]
{
  margin: 10px;
    padding:10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid;
    color: white;
}
input[type="text"]:hover,
input[type="text"]:focus
{
  margin: 10px;
    padding:10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid;
    color: white;
}

input[type="email"]
{
  margin: 10px;
    padding:10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid;
    color: white;
}
input[type="email"]:hover,
input[type="email"]:focus
{
  margin: 10px;
    padding:10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid;
    color: white;
}



input[type="text"]::placeholder { /* Firefox, Chrome, Opera */
    color: white;
}
input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}
input[type="email"]::placeholder { /* Firefox, Chrome, Opera */
    color: white;
}
input[type="email"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

button{
    background: none;
    padding: 2px 10px;
    border: 2px solid white;
    color: white

}
button:hover{
    background: none;
    padding: 2px 10px;
    border: 2px solid white;
    color: white;
    filter: blur(1px);

}
